*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: 100vh;
  max-height: 100vh;
}

header{
  height: 80px;
  background-color: #2196F3;
  color: #fdfdfd;
  font-size: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-game{
  height: calc(100% - 80px);
  width: 100%;

  display: flex;
  overflow: hidden;
}

.col-1-2{
  width: 50%;
  padding: 20px;
}

.wrapper-category{
  overflow-y: scroll;
}

.wrapper-category::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.wrapper-category::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.wrapper-category::-webkit-scrollbar-track {
  background: transparent;
}

#moodboard{
  height: 95%;
  margin: 5px;
  border: 2px solid black;
  position: relative;
}

#download-moodboard{
  height: 5%;
  margin: auto;
  width: 100%;
  background: #d3d3d3;
}

#mydiv {
  position: relative;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  height: 200px;
  width: 150px;
  font-size: 18px;
}

.mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uk-slider-items li{
  min-width: 200px;
  min-height: 200px;
  margin: 0 5px 0 0;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;

}

.sedia.mydivheader{
  background-color: #f32121c9;
}



@media screen and (max-width: 960px){

  .container-game{
    flex-wrap: wrap;
  }

  .col-1-2{
    width: 100%;
    order: 0;
    height: 75%;
  }

  .col-1-2.wrapper-category{
    order: 1;
    height: 25%;
    padding: 20px;
    width: 95%;
  }

  .wrapper-category::-webkit-scrollbar {
    width: 15px;
    height: 5px;
  }
  .wrapper-category::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }
  .wrapper-category::-webkit-scrollbar-track {
    background: transparent;
  }
}